include head
body
    include menu
    include banner
    div(class="container marketing")
        h2(class="text-center" style="margin-bottom: 40px;") Категории
        div(class="row")
            mixin categoriya(number)
                div(class="col-lg-4") 
                        img(class="rounded-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" width="140" height="140") 
                        h2
                            a(href="internal.html" role="button") Категория #{number}
            - var n = 1;
              while n < 10
                +categoriya(n++)
include footer
