body {
  color: #5a5a5a;
}

.fixed-top {
  height: 55px;
}

.navbar-nav {
  margin: 0 auto;
}

.navbar-brand {
  position: absolute;
}

.collapse.show {
    display: block;
    margin-top: 2.9em;
    width: 120%;
    background: #292b2c;
    margin-left: -1em;
    padding-left: 1em;
}

.marketing {
  .col-lg-4 {
    margin-bottom: 1.5rem;
    text-align: center;
  }
}

.marketing {
  h2 {
    font-weight: normal;
  }
}

.marketing {
  .col-lg-4 {
    p {
      margin-right: .75rem;
      margin-left: .75rem;
    }
  }
}

.jumbotron {
  padding-top: 6rem;
  padding-bottom: 6rem;
  margin-bottom: 0;
  background-color: #fff;
}

.jumbotron p:last-child {
  margin-bottom: 0;
}

.jumbotron-heading {
  font-weight: 300;
}

.jumbotron .container {
  max-width: 40rem;
}

.album {
  .container {
    .row {
      justify-content: space-between;
      align-items: center;
    }
  }
  min-height: 50rem;
  padding-top: 3rem;
  padding-bottom: 3rem;
  background-color: #f7f7f7;
}

.card {
  float: left;
  width: 30%;
  margin-left: calc(10%/6);
  margin-right: calc(10%/6);
  padding: .5rem;
  margin-bottom: 2rem;
  border: 0;
}

.card {
  img {
    margin-bottom: .75rem;
  }
}

.card-text {
  font-size: 85%;
}

footer {
  padding: 1.5rem;
}

footer {
  p {
    margin-bottom: .25rem;
  }
}